<html>
<head>
    <title>SKP</title>
    <!--<meta http-equiv="content-type" content="text/html; charset=utf-8">-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <!--<meta name="format-detection" content="telephone=no">-->
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0,target-densitydpi=device-dpi">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>北京SKP TRENDS秋冬时装精选</title>
    <script>
        /*
         if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
         var version = parseFloat(RegExp.$1);
         if (version > 2.3) {
         var phoneScale = parseInt(window.screen.width) / 640;
         document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
         } else {
         document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
         }
         } else {
         document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
         }
         */

    </script>
    <!--<link rel="stylesheet" type="text/css" href="/css/core.css?s=2">-->
    <link rel="stylesheet" type="text/css" href="/css/animate.css?s=3">
    <link rel="stylesheet" type="text/css" href="/css/notify.css?s=3">
    <link rel="stylesheet" type="text/css" href="/css/main.css?s=3">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-notify.min.js?s=1"></script>
    <script type="text/javascript" src="/js/main.js?s=1"></script>
    <script type="text/javascript" src="/js/index.js?s=1"></script>
</head>
<body>
<div id="main">
    <!--loading-->
    <div class="page" id="page_load" style="display: block">
        <div content="con_wrap">
            <img src="/image/loading.gif" alt="">
        </div>
    </div>
    <!--首页 -->
    <div class="page" id="page_0" style="display: none">
        <div class="con_wrap">
            <div class="page_bg"></div>
            <img src="/image/p0-bg.jpg" alt="" class="p0-bg p-bg">
            <img src="/image/p0-1.png" alt="" class="p0-logo animated fadeIn dura2">
            <img src="/image/p0-2.png" alt="" class="p0-title">
            <div class="p0-btn1 p0-btn js-intro"><img src="/image/p0-b2.png" alt=""></div>
            <div class="p0-btn2 p0-btn js-selfInfo" data-page="0"><img src="/image/p0-b1.png" alt=""></div>
        </div>
    </div>
    <!--提交信息-->
    <div class="page" id="page_1" style="display: none">
        <div class="con_wrap">
            <img src="/image/p1-bg.jpg" alt="" class="p1-bg p-bg">
            <div class="p1-box">
                <div class="p1-box-title" id="p0-title" style="display: none;">
                    <p>请提交个人信息参与投票，</p>
                    <p>以便我们能够及时联系到您，</p>
                    <p>谢谢参与</p>
                </div>
                <div class="p1-box-title" id="p4-title" style="display: none">
                    <p>您还未提交个人信息，</p>
                    <p>不能投票哦！</p>
                </div>
                <div class="name p1-box-info">姓名：
                    <input type="text" name="name" />
                </div>
                <div class="phone p1-box-info">电话：
                    <input type="text" name="phone" />
                </div>
                <div class="p1-btn" id="p0-btn" style="display: none;">
                    <div class="p1-btn1 p1-btns js-submit" data-page="1">提交</div>
                    <div class="p1-btn2 p1-btns js-begin" data-page="1">暂不提交</div>
                </div>
                <div class="p1-btn" id="p4-btn" style="display: none">
                    <div class="p1-btn1 p1-btns p2-btns js-submit">提交</div>
                </div>
            </div>
        </div>
    </div>
    <!--活动说明-->
    <div class="page" id="page_2" style="display: none;">
        <div class="con_wrap">
            <img src="/image/p2-bg.jpg" alt="">
            <img src="/image/p2-1.png" alt="" class="p2-po p2-logo animated fadeIn dura2">
            <!--<img src="/image/p2-2.png" alt="" class="p2-man">-->
            <img src="/image/p2-3.png" alt="" class="p2-po p2-title1">
            <img src="/image/p2-4.png" alt="" class="p2-po p2-title zoomIn animated dura2">
            <img src="/image/p2-5.png" alt="" class="p2-po p2-i5">
            <div class="p2-po p2-d1 p2-d">
                <p><b>活动时间</b></p>
                <p class="fw300">2017年8月24日至9月23日</p>
            </div>
            <div class="p2-po p2-d2 p2-d">
                <p>投票细则</p>
                <p class="fw300">每一品类，挑选你心目中的明星单品，线上宝贵一票</p>
                <p class="fw300">你宝贵的一票将作为【SKP魅力盛典】最终获奖明星单品的重要参考</p>
                <p class="fw300">获奖名单将于9月25日在北京SKP官方公众号公布</p>
                <p class="fw300">中奖名额：11名，随机抽选，数量有限，快来抢占先机吧！</p>
            </div>
            <div class="p2-po p2-d3 p2-d">
                <p>奖品设置</p>
                <div class="p2-prize">
                    <div class="p2-p1 p2-p">
                        <div class="p2-p-img">
                            <img src="/image/p2-p1.png" alt="" class="animated rotate">
                        </div>
                        <div class="p2-p-text">
                            <p>一等奖1名</p>
                            <p class="fw300">1000元购物卡</p>
                        </div>
                    </div>
                    <div class="p2-p2 p2-p">
                        <div class="p2-p-img">
                            <img src="/image/p2-p2.png" alt="" class="animated rotate">
                        </div>
                        <div class="p2-p-text">
                            <p>二等奖3名</p>
                            <p class="fw300">LANCOME小黑瓶精华肌底液30ml</p>
                        </div>
                    </div>
                    <div class="p2-p3 p2-p">
                        <div class="p2-p-img">
                            <img src="/image/p2-p3.png" alt="" class="animated rotate">
                        </div>
                        <div class="p2-p-text">
                            <p>三等奖6名</p>
                            <p class="fw300">JILL STUART</p>
                            <p class="fw300">甜蜜爱恋腮红</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p2-d4">
                <img src="/image/p2-2.png" alt="">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="p2-btn js-begin" data-page="2">
                <img src="/image/p2-b1.png" alt="">
            </div>
            <div class="p2-space"></div>
        </div>
    </div>
    <!--商品分类-->
    <div class="page page_classify" id="page_3" style="display: none">
        <div class="con_wrap">
            <div class="p3-1">
                <div class="header">
                    <div class="i0 icon n0" data-num="0"></div>
                    <div class="i1 icon n1" data-num="1"></div>
                    <div class="i2 icon n2" data-num="2"></div>
                    <div class="i3 icon n3" data-num="3"></div>
                    <div class="i4 icon n4" data-num="4"></div>
                    <div class="i5 icon n5" data-num="5"></div>
                    <div class="i6 icon n6" data-num="6"></div>
                    <div class="i7 icon n7" data-num="7"></div>
                    <div class="i8 icon n8" data-num="8"></div>
                    <div class="i9 icon n9" data-num="9"></div>
                </div>
                <div class="content">
                    <img src="/image/p3-4.png" alt="" style="width: 100%">
                    <div class="p3-c"><img src="/image/p3-2.png" alt="" class="animated rotate infinite"></div>
                    <div class="sku-classify">
                        <div class="sku0 sku"><img src="/image/p3-s0.png" alt=""></div>
                        <div class="sku1 sku"><img src="/image/p3-s1.png" alt=""></div>
                        <div class="sku2 sku"><img src="/image/p3-s2.png" alt="" class="animated infinite fadeInLeftToRight"></div>
                        <div class="sku3 sku"><img src="/image/p3-s3.png" alt=""></div>
                        <div class="sku4 sku"><img src="/image/p3-s4.png" alt=""></div>
                        <div class="sku5 sku"><img src="/image/p3-s5.png" alt=""></div>
                        <div class="sku6 sku"><img src="/image/p3-s6.png" alt=""></div>
                        <div class="sku7 sku"><img src="/image/p3-s7.png" alt="" class="animated infinite floatani"></div>
                        <div class="sku8 sku"><img src="/image/p3-s8.png" alt=""></div>
                        <div class="sku9 sku"><img src="/image/p3-s9.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="control c0 js-c1"></div>
                <div class="control n1 js-c2"></div>
                <div class="control n2 js-c3"></div>
            </div>
            <div class="footer-e"></div>
        </div>
    </div>
    <!-- 商品列表-->
    <div class="page page_classify" id="page_4" style="display: none;">
        <div class="con_wrap">
            <div class="p3-1">
                <div class="header">
                    <div class="i0 icon n0" data-num="0"></div>
                    <div class="i1 icon n1" data-num="1"></div>
                    <div class="i2 icon n2" data-num="2"></div>
                    <div class="i3 icon n3" data-num="3"></div>
                    <div class="i4 icon n4" data-num="4"></div>
                    <div class="i5 icon n5" data-num="5"></div>
                    <div class="i6 icon n6" data-num="6"></div>
                    <div class="i7 icon n7" data-num="7"></div>
                    <div class="i8 icon n8" data-num="8"></div>
                    <div class="i9 icon n9" data-num="9"></div>
                </div>
                <div class="content"></div>
            </div>
            <div class="footer">
                <div class="control n0 js-c1"></div>
                <div class="control c1 js-c2"></div>
                <div class="control n2 js-c3"></div>
            </div>
            <div class="footer-e"></div>
        </div>
    </div>

    <!-- 点赞商品列表-->
    <div class="page page_classify" id="page_6" style="display: none;">
        <div class="con_wrap">
            <div class="p3-1">
                <h3>获奖信息公布请查询SKP官方微信公众号!</h3>
                <div class="content"></div>
            </div>
            <div class="footer">
                <div class="control n0 js-c1"></div>
                <div class="control n1 js-c2"></div>
                <div class="control c2 js-c3"></div>
            </div>
            <div class="footer-e"></div>
        </div>
    </div>

    <!--投票弹窗 -->
    <div class="page" id="page_5" style="display: none;">
        <div class="con_wrap">
            <img src="/image/p1-bg.jpg" alt="" class="p-bg">
            <p class="p5-text1 right" style="display: none">您已投票成功，谢谢参与！</p>
            <p class="p5-text1 sorry" style="display: none">对不起，该品类您已投票</p>
            <img src="/image/qrcode.jpg" alt="" class="p5-img">
            <p class="p5-text">扫码关注SKP公众</p>
            <p class="p5-text p5-text2">即可查看中奖信息</p>
            <div class="footer">
                <div class="control n0 js-c1"></div>
                <div class="control c1 js-c2"></div>
                <div class="control n2 js-c3"></div>
            </div>
            <div class="footer-e"></div>
        </div>
    </div>
</div>
</body>
</html>